pip
git+git://github.com/Rapptz/discord.py.git@async#egg=discord
asyncio
requests
googletrans
opencv-python-headless
moviepy
ffmpeg
youtube-dl==2019.7.2
git+git://github.com/Joeclinton1/google-images-download.git
